@import url("https://fonts.googleapis.com/css2?family=Arbutus&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  background-color: #dfdfdf;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 400px 400px;
}

.cards {
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 18px;
  max-width: 400px;
}

.card1 {
  background-color: #ffffff;
}

img {
  width: 250px;
  margin: 0 auto;
  display: block;
}

.card1 button {
  padding: 10px 20px;
  color: #fff;
  margin: 20px 10px 0 10px;
  font-size: 22px;
  border: none;
  border-radius: 50px;
  background-color: #111111;
  width: 40%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.1;
  cursor: pointer;
}

#buy {
  height: 50px;
}

#add {
  font-size: clamp(12px, 0.5cqi, 22px); /* Scales based on container size */
}

button:hover {
  animation: profit 0.3s ease-in-out forwards;
}

@keyframes profit {
  0% {
    background: linear-gradient(0deg, #111111, #4b4b4b);
  }
  1% {
    background: linear-gradient(3.6deg, #111111, #4b4b4b);
  }
  2% {
    background: linear-gradient(7.2deg, #111111, #4b4b4b);
  }
  3% {
    background: linear-gradient(10.8deg, #111111, #4b4b4b);
  }
  4% {
    background: linear-gradient(14.4deg, #111111, #4b4b4b);
  }
  5% {
    background: linear-gradient(18deg, #111111, #4b4b4b);
  }
  6% {
    background: linear-gradient(21.6deg, #111111, #4b4b4b);
  }
  7% {
    background: linear-gradient(25.2deg, #111111, #4b4b4b);
  }
  8% {
    background: linear-gradient(28.8deg, #111111, #4b4b4b);
  }
  9% {
    background: linear-gradient(32.4deg, #111111, #4b4b4b);
  }
  10% {
    background: linear-gradient(36deg, #111111, #4b4b4b);
  }
  11% {
    background: linear-gradient(39.6deg, #111111, #4b4b4b);
  }
  12% {
    background: linear-gradient(43.2deg, #111111, #4b4b4b);
  }
  13% {
    background: linear-gradient(46.8deg, #111111, #4b4b4b);
  }
  14% {
    background: linear-gradient(50.4deg, #111111, #4b4b4b);
  }
  15% {
    background: linear-gradient(54deg, #111111, #4b4b4b);
  }
  16% {
    background: linear-gradient(57.6deg, #111111, #4b4b4b);
  }
  17% {
    background: linear-gradient(61.2deg, #111111, #4b4b4b);
  }
  18% {
    background: linear-gradient(64.8deg, #111111, #4b4b4b);
  }
  19% {
    background: linear-gradient(68.4deg, #111111, #4b4b4b);
  }
  20% {
    background: linear-gradient(72deg, #111111, #4b4b4b);
  }
  21% {
    background: linear-gradient(75.6deg, #111111, #4b4b4b);
  }
  22% {
    background: linear-gradient(79.2deg, #111111, #4b4b4b);
  }
  23% {
    background: linear-gradient(82.8deg, #111111, #4b4b4b);
  }
  24% {
    background: linear-gradient(86.4deg, #111111, #4b4b4b);
  }
  25% {
    background: linear-gradient(90deg, #111111, #4b4b4b);
  }
  26% {
    background: linear-gradient(93.6deg, #111111, #4b4b4b);
  }
  27% {
    background: linear-gradient(97.2deg, #111111, #4b4b4b);
  }
  28% {
    background: linear-gradient(100.8deg, #111111, #4b4b4b);
  }
  29% {
    background: linear-gradient(104.4deg, #111111, #4b4b4b);
  }
  30% {
    background: linear-gradient(108deg, #111111, #4b4b4b);
  }
  31% {
    background: linear-gradient(111.6deg, #111111, #4b4b4b);
  }
  32% {
    background: linear-gradient(115.2deg, #111111, #4b4b4b);
  }
  33% {
    background: linear-gradient(118.8deg, #111111, #4b4b4b);
  }
  34% {
    background: linear-gradient(122.4deg, #111111, #4b4b4b);
  }
  35% {
    background: linear-gradient(126deg, #111111, #4b4b4b);
  }
  36% {
    background: linear-gradient(129.6deg, #111111, #4b4b4b);
  }
  37% {
    background: linear-gradient(133.2deg, #111111, #4b4b4b);
  }
  38% {
    background: linear-gradient(136.8deg, #111111, #4b4b4b);
  }
  39% {
    background: linear-gradient(140.4deg, #111111, #4b4b4b);
  }
  40% {
    background: linear-gradient(144deg, #111111, #4b4b4b);
  }
  41% {
    background: linear-gradient(147.6deg, #111111, #4b4b4b);
  }
  42% {
    background: linear-gradient(151.2deg, #111111, #4b4b4b);
  }
  43% {
    background: linear-gradient(154.8deg, #111111, #4b4b4b);
  }
  44% {
    background: linear-gradient(158.4deg, #111111, #4b4b4b);
  }
  45% {
    background: linear-gradient(162deg, #111111, #4b4b4b);
  }
  46% {
    background: linear-gradient(165.6deg, #111111, #4b4b4b);
  }
  47% {
    background: linear-gradient(169.2deg, #111111, #4b4b4b);
  }
  48% {
    background: linear-gradient(172.8deg, #111111, #4b4b4b);
  }
  49% {
    background: linear-gradient(176.4deg, #111111, #4b4b4b);
  }
  50% {
    background: linear-gradient(180deg, #111111, #4b4b4b);
  }
  51% {
    background: linear-gradient(183.6deg, #111111, #4b4b4b);
  }
  52% {
    background: linear-gradient(187.2deg, #111111, #4b4b4b);
  }
  53% {
    background: linear-gradient(190.8deg, #111111, #4b4b4b);
  }
  54% {
    background: linear-gradient(194.4deg, #111111, #4b4b4b);
  }
  55% {
    background: linear-gradient(198deg, #111111, #4b4b4b);
  }
  56% {
    background: linear-gradient(201.6deg, #111111, #4b4b4b);
  }
  57% {
    background: linear-gradient(205.2deg, #111111, #4b4b4b);
  }
  58% {
    background: linear-gradient(208.8deg, #111111, #4b4b4b);
  }
  59% {
    background: linear-gradient(212.4deg, #111111, #4b4b4b);
  }
  60% {
    background: linear-gradient(216deg, #111111, #4b4b4b);
  }
  61% {
    background: linear-gradient(219.6deg, #111111, #4b4b4b);
  }
  62% {
    background: linear-gradient(223.2deg, #111111, #4b4b4b);
  }
  63% {
    background: linear-gradient(226.8deg, #111111, #4b4b4b);
  }
  64% {
    background: linear-gradient(230.4deg, #111111, #4b4b4b);
  }
  65% {
    background: linear-gradient(234deg, #111111, #4b4b4b);
  }
  66% {
    background: linear-gradient(237.6deg, #111111, #4b4b4b);
  }
  67% {
    background: linear-gradient(241.2deg, #111111, #4b4b4b);
  }
  68% {
    background: linear-gradient(244.8deg, #111111, #4b4b4b);
  }
  69% {
    background: linear-gradient(248.4deg, #111111, #4b4b4b);
  }
  70% {
    background: linear-gradient(252deg, #111111, #4b4b4b);
  }
  71% {
    background: linear-gradient(255.6deg, #111111, #4b4b4b);
  }
  72% {
    background: linear-gradient(259.2deg, #111111, #4b4b4b);
  }
  73% {
    background: linear-gradient(262.8deg, #111111, #4b4b4b);
  }
  74% {
    background: linear-gradient(266.4deg, #111111, #4b4b4b);
  }
  75% {
    background: linear-gradient(270deg, #111111, #4b4b4b);
  }
  76% {
    background: linear-gradient(273.6deg, #111111, #4b4b4b);
  }
  77% {
    background: linear-gradient(277.2deg, #111111, #4b4b4b);
  }
  78% {
    background: linear-gradient(280.8deg, #111111, #4b4b4b);
  }
  79% {
    background: linear-gradient(284.4deg, #111111, #4b4b4b);
  }
  80% {
    background: linear-gradient(288deg, #111111, #4b4b4b);
  }
  81% {
    background: linear-gradient(291.6deg, #111111, #4b4b4b);
  }
  82% {
    background: linear-gradient(295.2deg, #111111, #4b4b4b);
  }
  83% {
    background: linear-gradient(298.8deg, #111111, #4b4b4b);
  }
  84% {
    background: linear-gradient(302.4deg, #111111, #4b4b4b);
  }
  85% {
    background: linear-gradient(306deg, #111111, #4b4b4b);
  }
  86% {
    background: linear-gradient(309.6deg, #111111, #4b4b4b);
  }
  87% {
    background: linear-gradient(313.2deg, #111111, #4b4b4b);
  }
  88% {
    background: linear-gradient(316.8deg, #111111, #4b4b4b);
  }
  89% {
    background: linear-gradient(320.4deg, #111111, #4b4b4b);
  }
  90% {
    background: linear-gradient(324deg, #111111, #4b4b4b);
  }
  91% {
    background: linear-gradient(327.6deg, #111111, #4b4b4b);
  }
  92% {
    background: linear-gradient(331.2deg, #111111, #4b4b4b);
  }
  93% {
    background: linear-gradient(334.8deg, #111111, #4b4b4b);
  }
  94% {
    background: linear-gradient(338.4deg, #111111, #4b4b4b);
  }
  95% {
    background: linear-gradient(342deg, #111111, #4b4b4b);
  }
  96% {
    background: linear-gradient(345.6deg, #111111, #4b4b4b);
  }
  97% {
    background: linear-gradient(349.2deg, #111111, #4b4b4b);
  }
  98% {
    background: linear-gradient(352.8deg, #111111, #4b4b4b);
  }
  99% {
    background: linear-gradient(356.4deg, #111111, #4b4b4b);
  }
  100% {
    background: linear-gradient(360deg, #111111, #4b4b4b);
    background: linear-gradient(360deg, #111111, #4b4b4b);
  }
}

.card1 h1 {
  margin: 0;
}

.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cart {
  width: 30px;
  height: 30px;
}

.cents{
  font-size: 15px;
}