
.nav{
    width: 99vw;
    height: 6vh;
    background-color: rgb(42, 41, 41);
}
.navb{
    width: 50px;
    height: 25px;
    margin: 10px;
    background-color: none;
    float: left;
    color: white;
}

#logo{
    float: right;
    margin: 5px;
}