/*header {
    width: 400px;
    height: 400px;
    background-color: blue;
}

p {
    color: aquamarine;
}

div .mm {
    color: #8a0000;
}*/

.mm{
    text-decoration: none;
}

#txt2
{
    /*text-decoration: none;*/
    font-style: oblique;
    border: 5px solid orange;
    width:200px ;
}

